<div class="container d-flex flex-column align-items-center m-5">
  <p class="fs-4 fw-bold">Success! Please Use This Link :</p>
  <a href="/url/{{ randomURL }}">{{ hostname }}/{{ randomURL }}</a>
  <button class="btn btn-outline-secondary mt-3">copy</button>
</div>