<div class="container d-flex flex-column align-items-center m-5">
  <p class="fs-4 fw-bold">Success! Please Use This Link :</p>
  <textarea id="copyURL" class="form-control w-25 my-3" rows="1">{{ hostname }}/url/{{ randomURL }}</textarea>
  <input class="btn btn-outline-secondary pt-0 mt-2" type="button" value="copy" onclick="copyUrl()">
</div>


<script type="text/javascript">
  function copyUrl() {
    const copyURL = document.getElementById('copyURL')
    copyURL.select()
    document.execCommand('Copy')
    alert('copied!')
  }
</script>